---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export async function getStaticPaths() {
  const restaurants = await getCollection("restaurants");

  return restaurants.map((restaurant) => {
    return {
      params: { restaurant: restaurant.data.id },
      props: { restaurant },
    };
  });
}

const { restaurant } = Astro.props;

const review = await getEntry("reviews", restaurant.id);
const { Content } = await review.render();
---

<Layout title={`Reviews for ${restaurant.data.name} - Smokehouse List`}>
  <main class="max-w-4xl mx-auto px-4 py-8">
    <div class="mb-8">
      <a href="/" class="text-bbq-red hover:text-bbq-brown"
        >â† Back to Restaurants</a
      >
    </div>

    <div class="bg-white relative rounded-lg shadow-lg p-6 mb-8 h-80">
      <div class="absolute inset-0">
        <Image
          src={restaurant.data.imageUrl as ImageMetadata}
          alt={restaurant.data.name}
          class="object-cover w-full h-full brightness-[30%]"
        />
      </div>
      <div
        class="flex flex-col justify-between items-between h-full gap-4 mb-4 relative z-10"
      >
        <div class="w-full text-center pt-28">
          <h1 class="text-3xl font-bold text-slate-50">
            {restaurant.data.name}
          </h1>
          <p class="text-gray-400">
            {restaurant.data.city}, {restaurant.data.state}
          </p>
        </div>
        <div class="w-full">
          <p class="text-slate-300 relative z-10">
            {restaurant.data.description}
          </p>
        </div>
      </div>
    </div>

    <div class="space-y-8">
      <article class="bg-white rounded-lg shadow-lg p-6">
        <div class="flex justify-between items-start mb-4">
          <div>
            <h2 class="text-xl font-bold text-gray-900">{review.data.title}</h2>
            <p class="text-gray-600">
              By {review.data.author} on {review.data.visitDate}
            </p>
          </div>
          <div class="bg-bbq-red text-white px-3 py-1 rounded-full">
            {restaurant.data.rating}/5
          </div>
        </div>
        <div class="prose max-w-none">
          <Content />
        </div>
      </article>
    </div>
  </main>
</Layout>
